$liSize: 60px;
$bg: hsla(0, 11%, 21%, 1);
$primary: #78777A;
$secondary: #b7b7b7;
$tertiary: #fbfbfb;
$titleHeight: 18px;

#stc-obj {
  box-sizing: border-box;
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  color: #333;
  padding: 15px 30px;
  border: 2px dashed #c7c7c7;
  border-right: 0;
  border-top: 0;
  font-family: 'helvetica nueue', helvetica, arial, sans-serif;
  transform: translateX(100%) translateZ(0);
  transition: all 500ms ease-in;

  #stc-heading {
    display: block;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-weight: bold;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    margin-bottom: 15px;
  }

  a {
    color: #333;
    text-decoration: none;
    line-height: 30px;
    height: 30px;
  }

  .swatch-link {
    position: relative;
    top: 8px;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 0 15px 0 0;
  }

  .tag-link {
    font-weight: bold;
  }

  &.is-active {
    transform: translateX(0) translateZ(0);
  }

  * {
    box-sizing: border-box;
  }


}

[data-stc].is-active {
  box-shadow: 0 0 1000px rgba(0,0,0,.1);
}
