$liSize: 60px;
$bg: hsla(0, 11%, 21%, 1);
$primary: #78777A;
$secondary: #b7b7b7;
$tertiary: #fbfbfb;
$titleHeight: 18px;

#stc-obj {
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  background: #f1f1f1;
  color: #333;
  box-sizing: border-box;
  padding: 15px 30px;
  border: 2px dashed #c7c7c7;
  border-right: 0;
  border-top: 0;
  font-family: 'helvetica nueue', helvetica, arial, sans-serif;

  #stc-heading {
    display: block;
    margin-bottom: 1em;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    margin-bottom: 10px;
  }

  a {
    color: #333;
    text-decoration: none;
    line-height: 30px;
    height: 30px;
  }

  a.swatch-link {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 0 15px 0 0;
  }

  .is-active a {
    font-weight: bold;
  }

}
