body{
  background: #fcfcfc;
  font-weight: 200 !important;
}

#main {}

header {
  text-align: center;
  margin: 4em 0;
  display: block;
}

.main-container {
  max-width: 40em;
  margin: 0 auto;
}

.button-xlarge {
  font-size: 2em;
}

.pure-button {
  user-select: inherit !important;
  -webkit-user-drag: inherit !important;
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
  background-color: #95d274;
}


h1, h2, h3, h4, p {
  font-weight: normal;
  line-height: 1.7;
}

h1 {
  font-size: 1.3em;
}

.is-left {
  text-align: left;
}

hr {
  margin-bottom: 4em;
}
